In [ ]:
# --- Installing Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# --- Creating Pandas Series

In [ ]:
# --- Series From a List

In [17]:
import pandas as pd

In [19]:
data = [10, 20, 30, 40]
series = pd.Series(data)

print("Series from a list:")
print(series)

Series from a list:
0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# --- Series With Custom Index

In [21]:
data = [10, 20, 30, 40]
index = ['a', 'b', 'c', 'd']
series_with_index = pd.Series(data, index=index)

print("\nSeries with custom index:")
print(series_with_index)

Series with custom index:
a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# --- Pandas DataFrame

In [ ]:
# --- DataFrame from Dictionary

In [23]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

print("\nDataFrame from a dictionary:")
print(df)

DataFrame from a dictionary:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
# --- DataFrame from List

In [25]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]
columns = ['Name', 'Age', 'City']
df_from_list = pd.DataFrame(data, columns=columns)

print("\nDataFrame from a list of lists:")
print(df_from_list)

DataFrame from a list of lists:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
# --- DataFrame with Custom Index

In [27]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df_with_index = pd.DataFrame(data, index=['a', 'b', 'c'])

print("\nDataFrame with custom index:")
print(df_with_index)

DataFrame with custom index:
      Name  Age
a    Alice   25
b      Bob   30
c  Charlie   35

In [ ]:
# --- DataFrame Information

In [29]:
print("\nDataFrame info:")
print(df.info())

print("\nDataFrame summary:")
print(df.describe())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

DataFrame summary:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0