--- Creating Pivot Table

In [ ]:
--- Sample Data

In [1]:
import pandas as pd

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah'],
    'Age': [25, 30, 35, 22, 28, 30, 26, 24],
    'Score': [85, 92, 78, 90, 88, 70, 95, 80],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles', 'Chicago', 'New York', 'Chicago']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age  Score         City
0    Alice   25     85     New York
1      Bob   30     92  Los Angeles
2  Charlie   35     78      Chicago
3    David   22     90     New York
4      Eva   28     88  Los Angeles
5    Frank   30     70      Chicago
6    Grace   26     95     New York
7   Hannah   24     80      Chicago

--- Creating a Pivot Table

In [15]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age Group': ['Adult', 'Adult', 'Minor', 'Adult'],
    'Score': [85, 90, 78, 88],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago']
}

df = pd.DataFrame(data)

pivot_table = df.pivot_table(values='Score', index='Age Group', columns='City', aggfunc='mean', observed=False)

print("\nPivot Table:")
print(pivot_table)

Pivot Table:
City       Chicago  Los Angeles  New York
Age Group
Adult         88.0         90.0      85.0
Minor          NaN          NaN      78.0

--- Groupby for Aggregation

In [21]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 17, 22],
    'Score': [85, 90, 78, 88],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago']
}

df = pd.DataFrame(data)

print(df.columns)

grouped_data = df.groupby('City').agg({'Score': 'mean', 'Age': 'mean'}).reset_index()

print("\nGrouped Data (Average Score and Age by City):")
print(grouped_data)

Index(['Name', 'Age', 'Score', 'City'], dtype='object')

Grouped Data (Average Score and Age by City):
          City  Score   Age
0      Chicago   88.0  22.0
1  Los Angeles   90.0  30.0
2     New York   81.5  21.0

--- Filtering Grouped Data

In [23]:
filtered_grouped_data = grouped_data[grouped_data['Score'] > 85]

print("\nFiltered Grouped Data (Cities with Average Score > 85):")
print(filtered_grouped_data)

Filtered Grouped Data (Cities with Average Score > 85):
          City  Score   Age
0      Chicago   88.0  22.0
1  Los Angeles   90.0  30.0